.chat
  .chat-main__group-info
    .chat-main__left-box
      = @group.name
      %ul.chat-main__group-info-member
        %span member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group) do 
      .chat-main__group-info-edit-btn 
        Edit  
  .chat-main__message
    = render @messages
  -#   .chat-main__message-name
  -#     name
  -#     %p.chat-main__message-list-date
  -#       "%Y年%m月%d日 %H時%M分"
  -#   %p.chat-main__message-list-message
  -#     text
  -#   .chat-main__message-name
  -#     masa  
  -#     %p.chat-main__message-list-date
  -#       2019/11/20(wed) 17:43:34
  -#   %p.chat-main__message-list-message
  -#     今日は夜から雨
  .chat-main__message-form 
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'send__message-form', placeholder: 'type a message'
      .chat-main__input-message-box
        = f.label :image, class: 'chat-main__send-message-list' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'message-form__send-btn'